<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
	<title>Мир канцелярии</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<meta name ="Мир канцелярии" content="Канцелярия, канц. товары, интересная канцелярия">


	<!--Маленький логотипчик на вкладке браузера-->
</head>
<body>
    <link rel="shortcut icon" href="../static/pic/images.png" type="image/x-icon">
	<link href="style.css" rel="stylesheet">        
	<img width="100%" align="center" src="../static/pic/image.png"/>      <!--Вставка изображения шапки-->
	<h3 align="center" class="plist big">Огромный выбор всего, что может потребоваться и даже больше</h3>  <!--align="center"-расположение текста по центру-->
    <img class="selector" height="200px" src="../static/pic/13UG7snZi7Dc.jpg"/>
    <img class="selector" height="200px" src="../static/pic/19.jpg"/>
    <img class="selector" height="200px" src="../static/pic/dscf1044-2.jpg"/>
    <img class="selector" height="200px" src="../static/pic/thumb300.jpeg"/>

    <p><input type="submit" value="Сделать заказ" aligh="right">

    <p class="list big selector3">Категории товаров:</p>
<ul class="list big1 selector3">               <!--Многоуровневый список-->
<li>Канцелярские товары</li>
<li>Письменные принадлежности</li>
<li>Школьные товары и детская канцелярия</li>
<li>Бумага и бумажно-беловая продукция</li>
<li>Художественно-оформительские принадлежности</li>
<li>Товары для делопроизводства</li>
<li>Настольные принадлежности и аксессуары</li>
<li>Офисная техника и расходные материалы</li>
<li>Презентационное оборудование</li>
<li>Товары для творчества</li>
<li>Сувенирная продукция</li>
</ul>

<img class="selector2" height="200px" align="right" src="../static/pic/DSC06750.jpg"/>
<img class="selector2" height="200px" align="right" src="../static/pic/DSC05314.jpg"/>
<img class="selector2" height="200px" align="right" src="../static/pic/f0cbf99e.jpg"/>
<img class="selector2" height="200px" align="right" src="../static/pic/DSC06748.jpg"/>

<!--<p><label class="big1">
	Чтобы сделать заказ, напишите нам свою почту <input type="text" name="username">
</label>-->

</body>